<!DOCTYPE html>
<html>
<head>
  <title>Reschin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'shared/header' %>

<%= yield %>

<%= render partial: 'shared/footer' %>

<script>
    $(document).ready(function(){
        (function() {
            "use strict";
            if (window.location && window.location.hash) {
                if (window.location.hash === '#_=_') {
                    window.location.hash = '';
                    history.pushState('', document.title, window.location.pathname); // nice and clean
                }
            }
        }());
    });
</script>

</body>
</html>
